$rich-black: rgb(5, 5, 23, 1);
$lavender-web: rgb(237, 244, 255);
$flame: rgb(207, 92, 54, 1);
$cerulean: rgb(64, 121, 140, 1);

$weather: (
  rain: rgb(217, 230, 232),
  sun: rgb(255, 217, 167),
  'snow': rgb(173, 221, 255),
);
