:host {
  width: 50%;
  .favs__list {
    height: 100%;
    background-color: white;
    padding-block: 40px;
    padding-inline: 60px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
      margin-top: 0px;
    }
    .favs__single {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .favs__controls {
        span {
          margin-inline-end: 10px;
        }
        button {
          background-color: lighten(rgb(255, 0, 132), 45%);
          border: none;
          aspect-ratio: 1/1;

          i {
            font-size: 20px;
            color: rgb(255, 0, 132);
          }
        }
      }
    }
  }
}
