<div class="recent__list">
  <h3>Recent</h3>
  <div class="recent__single" *ngFor="let city of recent">
    {{city}}
    <div class="recent__controls">

      <span (click)="loadCity(city)">
        <i class="bi bi-eye"></i>

      </span>
      <button *ngIf="!favs.includes(city)" (click)="addFavs(city)">
        <i class="bi bi-suit-heart"></i> </button>
      <button *ngIf="favs.includes(city)" (click)="removeFavs(city)">
        <i class="bi bi-suit-heart-fill"></i>

      </button>
    </div>
  </div>
</div>
